/* Custom scrollbar for log terminal */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1c2027;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3b4554;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}